<h1>Create a New Profile</h1>


{{!-- <form method="POST" action="/destinations/{{destinationId}}/profiles">
  <div>
    <label for="name">Profile</label>
    <input type="text" name="name">
  </div>
  <br>
  <div>
    <label for="location">Location</label>
    <input type="text" name="location">
  </div>
  <br>
  <div>
    <label for="destination">Destination</label>
    <select name="destination">
      <option value="fly">fly</option>
      <option value="coach">Coach</option>
      <option value="train">Train</option>
      <option value="road">Roadtrip</option>
    </select>
  </div>
  
  
  <button type="submit">Add Destination</button>
</form> --}}


<form method="POST" action="/destinations">
  <div>
    <label for="name"> Destination</label>
    <input type="text" name="name">
  </div>
  <br>
  <div>
    <label for="description">Description</label>
    <input type="text" name="description">
  </div>
  <br>
  <div>

    <textarea rows="4" cols="50" name="comment" form="usrform">
Your expereince ...</textarea>


  <button type="submit">Add Profile</button>
</form>
<BR></br>
<a href="/destinations"> All Destinations</a>
</div> 