<h1>Create a New Profile</h1>
<form method="POST" action="/destinations/{{destinationId}}/profiles">
  <div>
    <label for="name">Name </label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" name="location">
  </div>
  <div>
    <label for="phonenumber">Phone</label>
    <input type="text" name="phonenumber">
  </div>

<div class="right-align ">
  <a class="waves-effect waves-light btn teal lighten-1 " <a href="/destinations ">All Destinations
    <i class="material-icons left ">flight_takeoff</i>
  </a>

  {{!-- <button type="submit">Add Profile</button> --}}
</form>