<div class="container">

  <body>
    <header class="top">
      <h1 id="top1">The World!</h1>
      <div id="headerpic">
        <img style="width:100%" src="/images/map.gif">
      </div>

      <h2 id="top3">Travel is not a hobby | It is a Passion!</h2>
    </header>


    <div>
      <p id="para">If we could all have it our way, we would travel perhaps every 2 months.
        <br> Which brings us to the question how do we track our travelled destinations and a LONGGG!! Wish Lish Destinations
        to be yet explored.

        <br> check out some of our members favourte spots been to and wish to be at!
      </p>


      <ul>
        {{#each destinations}}
        <li>
          <a href="/destinations/{{_id}}">{{name}}</a>

          <div>
            {{location}}
          </div>
        </li>
        <img class="photostyle" src="{{photo}}"> {{/each}}
      </ul>

      
    </div>
    <div id="button-pad">
            <div class="left-align">
                <a class="waves-effect waves-light btn teal lighten-1" href="/destinations/new">
                    <i class="material-icons left">flight_takeoff</i>Add New Destination</a>
            </div>
        </div>
</div>

{{!--
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script> --}}