<!DOCTYPE html>
<html>

<head>
  
</head>

<body>

  <div class="container">
    <body>
   
    <h1> Travel Tracker</h1>
    <h2>Travel is a Passionate Hobby!</h2>
    <div>
      <p>If we could all have it our way, we would travel perhaps every 2 months.
        <br> Which brings us to the question how do we track our travelled destinations and a LONGGG!! Wish Lish Destinations
        to be yet explored.

        <br>
        check out some of our members favourte spots been to and wish to be at! 
      </p>


      <ul>
        {{#each destinations}}
        <li>
          <a href="/destinations/{{_id}}">
          
          <div>
            {{name}}
            heehhe
            {{location}}
            ITaly
            </div>
          </a>
        </li>
        <img src="{{Photo}}">
        {{/each}}
      </ul>

      <a href="/destinations/new">New Destinations</a>
    </div>
  </div>
  </div>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>