<h1>Create a New Destination</h1>



<form method="POST" action="/destinations">
  <div>
    <label for="name"> Destination</label>
    <input type="text" name="name">
  </div>
  <br>
  <div>
    <label for="description">Description</label>
    <input type="text" name="description">
  </div>
  <br>
  <div>

    <textarea rows="4" cols="50" name="comment" form="usrform">
Your expereince ...</textarea>


    <a href= "/destinations"><button type="submit">Add Destination</button></a>


</form>
<BR>
</br>



<div class="right-align ">
  <a class="waves-effect waves-light btn teal lighten-1 " <a href="/destinations">All Destinations
    <i class="material-icons left ">flight_takeoff</i>
  </a>
</div>