<h1>Create a New Destination</h1>
<form method="POST" action="/destinations">
  <div>
    <label for="name">Name of Destination</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" name="location">
  </div>
  
  <button type="submit">Add Destination</button>
</form>

<a href="/destinations">Back To Companies</a>