<h1>Create a New Destination</h1>


<div id="bgpic"><img style="width:100%" src="images/yell.jpg">

<form method="POST" action="/destinations">
  <div>
    <label for="name"> Destination</label>
    <input type="text" name="name">
  </div>
  <br>
  <div>
    <label for="description">Description</label>
    <input type="text" name="description">
  </div>
  <br>
  <div>

    <textarea rows="4" cols="50" name="comment" form="usrform">
Your expereince ...</textarea>

  </div>

  <button type="submit">Add Destination</button>
</form>

<a href="/destinations">Back To Companies</a>
</div> 