<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>travel</title>
</head>

<body>
    <div id="header">
        <h1> Travel Xperiences</h1>
    </div>
    <div id="heading">
        <h3>Share your's and help others decided thier next Stop!</h3>
    </div>
    <div id="main">
        <img style="width:100%" src="/images/travel.gif">
    </div>
    <br>
    <div id="button-pad">
        <div class="left-align">
            <a class="waves-effect waves-light btn teal lighten-1" href="/destinations">
                <i class="material-icons left">flight_takeoff</i>Take me there!</a>
        </div>
    </div>
    {{!--
    <a href="/profile/{{profilesId}}/profile">Member's Review of Belgium</a>
    <br></br> --}}
    <div id="button-pad">
        <div class="right-align">
            <a class="waves-effect waves-light btn teal lighten-1" href="/destinations">
                <i class="material-icons left">flight_takeoff</i>Members</a>
        </div>
    </div>



</body>

</html>