<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
     <link href="https://fonts.googleapis.com/css?family=Prociono" rel="stylesheet">
  </head>
  <body>
    <header class="top">
      <h1 id="top1">The World!</h1>
      <div id="headerpic"><img style="width:100%" src="images/map.gif"></div>
      <h1 id="top2">Where to Next!</h1>
    </header>
    <div id="container">
    {{{body}}}
    </div>
    <footer>
      Back to the Top
      <div>
      <a href="/">Home</a>
      </div>
    </footer>
  </body>
</html>
