

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(250, 250, 195);
  background: rgb(6, 6, 90);
}

a {
  color: #00B7FF;
}

#top1 {
  text-align: center;
  color: rgb(250, 250, 195);
  font-family: cursive;
  
}

#top2 {
  text-align: center;
  color: rgb(250, 250, 195);
}
#top3 {
  text-align: center;
  color: rgb(250, 250, 195);
  font-family: cursive;
  
}
#para {
  text-align: justify;
  font-family:cursive;
  font-size: 16px;
  color: rgb(250, 250, 195);
  font-weight:bold;

}
.photostyle {
height:400px;
width:1000px;
align:center;

}
.facts {
  font-family: cursive;
  font-size: 10px !important;
  
}

li{
  font-size: 50px; 
}
.photostylepro {
  height:300px;
  width:200px;
}
#belgium1 {
height:250px;
width:auto;
align:center;
padding: 10px;
}


#exp {
  font-family: cursive;
  font-size: 30px;
  color: white;

}
.facts {
    font-family: cursive;
    font-size: 20px !important;
    color: white;
  }

#header {
  font-family: cursive;
  text-align: center;
  color: white;
  font-size: 30px !important;

}
#heading {
  font-family: cursive;
text-align: center;
color:white;
font-size: 8px;
}
#belflag{
  align:right !important;
}